.quiz {
    color: white;
    background: orangered;
    font-size: 150%;
}

.quiz-box {
    background: lightblue;
    width: 480px;
    height: 300px;
    z-index: 999;
    position: fixed;
    left: 0;
    bottom: 0;
}
