p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.quiz {
    color: white;
    background: orangered;
    font-size: 150%;
}

.quiz-box {
    background: lightblue;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 25px;
    width: 350px;
    height: 250px;
    z-index: 999;
    position: fixed;
    left: 0;
    bottom: 0;
}
